@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


:root{
    --clr-blue: #458ff6;
    --clr-black: #000;
    --clr-white: #fff;
    --clr-gray: #7d7987;
    --clr-dark-blue: #233348;
    --clr-dark-purple: #1f1534;
    --font-family-mulish: 'Mulish', sans-serif;
    --transition-default: all 300ms ease-in-out;
}

html{
    scroll-behavior: smooth;
    -mos-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: unset;
    transition: var(--transition-default);
}

a:focus, a:hover{
    color: unset;
}

img, picture, video, canvas, svg{
    max-width: 100%;
    display: block;
}
input, button, textarea, select{
    font: inherit;
    outline: 0;
}
h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}
textarea{
    resize: none;
}
img, object, embed, video{
    max-width: 100%;
}

body{
    font-family: var(--font-family-mulish);
    line-height: 1.6;
    height: 100%;
    font-weight: 300;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.page-wrapper{
    overflow: hidden!important;
}

/* header section  & navbar */
.header{
    position: relative;
    /* min-height: 100vh; */
    background-color: var(--clr-blue);
}
.header *{
    color: var(--clr-white);
}
.navbar{
    padding: 56px 0 80px 0;
}
.brand-and-toggler{
    width: 100%;
}
/* Navbar Styling */
.navbar-content {
    height: 41px;
}

.navbar-brand .brand-shape {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: var(--clr-white);
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-right: 12px;
    color: var(--clr-blue);
}

.navbar-brand .brand-text {
    color: var(--clr-white);
    font-size: 24px;
}

.nav-item {
    margin-left: 40px;
}

.nav-link {
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
}

.nav-link:hover {
    opacity: 0.9;
}

.nav-link.nav-active {
    position: relative;
    color: var(--clr-white);
    font-weight: 700;
    opacity: 1;
}

.nav-link.nav-active::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--clr-white);
}

.navbar-show-btn {
    font-size: 24px;
    cursor: pointer;
}

.navbar-hide-btn {
    display: none;
    cursor: pointer;
    transition: var(--transition-default);
}

.navbar-hide-btn:hover {
    opacity: 0.8;
}

/* Dropdown Styling */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    min-width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px;
    white-space: nowrap;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
    background-color: lightgray;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.element-one{
    position: absolute;
    top: calc(56px + 41px + 63px);
    left: 0;
}
.element-one img{
    width: 60px;
}

#roomchat-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f2f5;
}

.roomchat-wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 20px;
}

.chat-users {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 450px;
    overflow-y: auto;
}

.chat-users h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #4a90e2;
}

#user-list {
    list-style-type: none;
    padding: 0;
}

#user-list li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#user-list li:hover {
    background-color: #e1e1e1;
}

#user-list li:active {
    background-color: #ccc;
}

/* Chatbox Styles */
.chatbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 450px;
    display: none; /* Hidden by default until a user is selected */
    overflow-y: auto;
}

.chat-output {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f7f7f7;
    border-radius: 8px;
    height: calc(100%- 60%);
}

.chat-output .message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    font-size: 16px;
    white-space: pre-wrap;
}

.chat-output .sent {
    background-color: #ffffff;
    align-self: flex-end;
}

.chat-output .received {
    background-color: #e4e2e2;
    align-self: flex-start;
}

.chat-input-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

textarea {
    width: 85%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #000000;
    resize: none;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    width: 10%;
    padding: 10px;
    background-color: #4a90e2;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3578b1;
}

.footer{
    margin-top: 136.6px;
    background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
    padding-top: 118px;
    padding-bottom: 109px;
    position: relative;
}

.footer .navbar-brand{
    margin-bottom: 17px;
}

.footer .navbar-brand .brand-shape{
    background-color: var(--clr-white);
    color: var(--clr-blue);
}
.footer .navbar-brand .brand-text{
    color: var(--clr-white);
}

.footer-list{
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 40px;
}
.footer-item:nth-child(1){
    padding-right: 100px;
}
.footer-item:nth-child(1) p{
    font-weight: 300;
    font-size: 18px;
}
.footer-item:nth-child(1) .copyright-text{
    margin-top: 31px;
    line-height: 1.55;
}
.footer-item-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
    white-space: nowrap;

}
.footer-links li a{
    font-weight: 300;
    font-size: 18px;
}
.footer-links li a:hover{
    opacity: 0.95;
    text-decoration: underline;
}
.footer-links li{
    margin-bottom: 10px;
}
.footer-element-1{
    bottom: 0;
    left: 0;
    position: absolute;
}
.footer-element-2{
    position: absolute;
    right: 91px;
    top: -70px;
    z-index: 1;
}

footer {
    margin-top: 0 !important;
    padding-top: 10px; 
}
::placeholder {
    color: white !important;
    opacity: 1; 
}