rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Aturan untuk dokumen user profile
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Aturan untuk semua subkoleksi di bawah users/{userId}, misal: chatbot_history, journey_tracking
    match /users/{userId}/{subcollection}/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
